# Virtual environment directory
env/

# Compiled Python files
*.pyc
*.pyo
__pycache__/

# IDE-specific files
.vscode/
.idea/

# MacOS specific files
.DS_Store

# Windows specific files
Thumbs.db

# Logs
*.log

# Python egg files
*.egg
*.egg-info/

# Distribution files
dist/
build/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment configuration files
.env
